argparse
asyncio
uuid
requests
uvicorn
fastapi
gradio
transformers
datetime
typing
numpy
openxlab
modelscope
timm
openmim
opencv-python
termcolor
yacs
pyyaml
scipy
deepspeed==0.13.5
pycocoevalcap
tqdm
peft
